.container{
    height: calc(100vh - 100px);
    /* height: 100vh; */
    width: 100vw;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainbox{
    height: 400px;
    width: 450px;
    /* background-color: rgb(250, 166, 11);
    border-radius: 5px; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.fooditem{
    margin: 5px;
    font-size: 20px;
}
.calorie{
    margin: 5px;
    font-size: 20px;
}