*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}
.outer{
    height: 400px;
    width: 300px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    height: 300px;
    width: 200px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height: 200px;
    width: 100px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    height: 400px;
    width: 402px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
}

.container .box {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto;
    background: #eee;
}

.container .box .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: #ccc;
}
.media {
    height: 400px;
    width: 400px;
    position: relative;
}