*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    margin: 10px;
}
.item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: slateblue;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
button:hover{
    background-color: white;
    color: slateblue;
}
button:active{
    transform: scale(0.99);
}